# STT Endpoint Configuration
# Use http://host.docker.internal:8969/v1/audio/transcriptions for Docker deployment.
VOICE_TYPING_STT_ENDPOINT=http://127.0.0.1:8969/v1/audio/transcriptions
VOICE_TYPING_STT_MODEL=Systran/faster-whisper-medium.en

# Audio Configuration
VOICE_TYPING_DEVICE_INDEX=
VOICE_TYPING_STREAMING=1
VOICE_TYPING_SILENCE_THRESHOLD=0.015
VOICE_TYPING_SILENCE_DURATION=0.8

# UI/UX Configuration
VOICE_TYPING_BEEP=1
VOICE_TYPING_HOTKEY=<cmd>+<shift>+s

# Web UI Configuration
VOICE_TYPING_UI_HOST=127.0.0.1
VOICE_TYPING_UI_PORT=3221
